Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
a="nishtha"

In [2]:
type(a)

str

In [3]:
l=[1,3,45,"hello","name"]

In [4]:
type(l)

list

In [5]:
a=23.654

In [6]:
type(a)

float

In [7]:
t=(1,2,56,76,"hi","world")

In [8]:
type(t)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

 i) string(str)
 ii)string (str)
 iii) List
 iv) integer(int)

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [10]:
a=24
b=5
a/b

4.8

In [11]:
a=56
b=5
a%b

1

In [12]:
a=25
b=4
a//b

6

In [13]:
a=4
b=2
a**b

16

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [14]:
l1=["hello",254,25.54,"nish",(23,45),[647,"nishtha","sharma"],32,"hi","pwskills",97.02]

In [15]:
for i in l1:
    print(i,type(i))
    end=""

hello <class 'str'>
254 <class 'int'>
25.54 <class 'float'>
nish <class 'str'>
(23, 45) <class 'tuple'>
[647, 'nishtha', 'sharma'] <class 'list'>
32 <class 'int'>
hi <class 'str'>
pwskills <class 'str'>
97.02 <class 'float'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [16]:
a=int(input())
b=int(input())
while(b<a):
    if(a%b==0):
        print(a/b)
        break
    else:
        print("not divisible")
        break

25
6
not divisible

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [17]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [20]:
for i in l:
    if(i%3==0):
        print(i)
    else:
        continue

3
6
9
12
15
18
21
24

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable data types are the data types that can be changed once they are created. We can change add or remove items while using a mutable data type.
Eg. Lists

Immutable data types are the data types that cannot be changed once we have created them. we cannot alter, add or remove any item. 
Eg. Tuples

Example: List

In [21]:
l1=[12,45,"nishtha"]

In [23]:
print(l1)

[12, 45, 'nishtha']

In [24]:
l1[0]="hello"

In [25]:
print(l1)

['hello', 45, 'nishtha']

Example: Tuple

In [27]:
t=(12,34,"hello")

In [28]:
print(t)

(12, 34, 'hello')

In [29]:
t[1]="sharma"

TypeError: 'tuple' object does not support item assignment

In [30]:
print(t)

(12, 34, 'hello')